    <section id="things_sec">
        <div class="things_info">
            <h1 class="Header">My three favourite dishes. </h1>
            <p>I'm a foody person for talking about favourite things, my first preferrence is food.</p>
        </div>
    </section>


    <section id="mainInfo">
        
        <div class="Info">
        {{#each team}}
        <div class="infoDiv">
            <img src="images/{{ IMAGE }}" alt="image">

            <a class="u-link" href="{{ ID }}">View More</a>

            <h1>{{ TITLE }}</h1>
            <h3{{ DESCRIPTION }}></h3>
            <h4>{{ FAVOURITE }}</h4>

        </div>
          
        </div>

        {{/each}}
    </section>

